version: "3.7"
services:

  game:
    image: {{ game_image }}:{{ game_image_tag }}
    container_name: {{ project_name }}
    hostname: {{ project_name }}
    ports:
      - "{{ game_port_host }}:{{ game_port_container }}"
    restart: unless-stopped
    healthcheck:
      test: "wget -O /dev/null http://localhost || exit 1"
      interval: 60s
      retries: 5
      start_period: 20s
      timeout: 10s
